.padreHeader{
    
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.logoHeader{
    height: 100px;
    width: 300px;
}
.butonNav{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:650px) {
    .padreHeader{
    
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: black;
    }
    .logoHeader{
        height: 100px;
        width: 300px;
    }
    .butonNav{
        text-decoration: none;
        color: white;
    }
}

